@model List<UserManagementCrudApp.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content section -->
<div class="container flex-grow-1 py-5">
    <h2 class="mb-4"> All Users </h2>


    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            @using (Html.BeginForm("UpdateOperation", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", user.Id)
                                <td>
                                    <input name="Name" class="form-control" value="@user.Name" />
                                </td>
                                <td>
                                    <input name="Email" type="email" class="form-control" value="@user.Email" />
                                </td>
                                <td>
                                    <input name="PhoneNumber" class="form-control" value="@user.PhoneNumber" />
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

