@model List<UserManagementCrudApp.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<div class="container flex-grow-1 py-5">
    <h2 class="mb-4">Updated Users</h2>



    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            @using (Html.BeginForm("UpdateOperation", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", user.Id)
                                <td>
                                    <input name="Name" value="@user.Name" class="form-control" />
                                </td>
                                <td>
                                    <input name="Email" value="@user.Email" type="email" class="form-control" />
                                </td>
                                <td>
                                    <input name="PhoneNumber" value="@user.PhoneNumber" class="form-control" />
                                </td>
                                <td>
                                    <input type="submit" value="Update" class="btn btn-success" />
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

